<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/css/styleTest.css">
    <title>Сервис с картинками</title>
</head>
<body>
    <h1><b>Выберите картику, которую хотите скачать:</b></h1>
    <<ul type="round">
        <li><a href="/animal/cat" id="cat" class="href" title="Скачать картинку">Кошки</a></li>
        <li><a href="/animal/dog" id="dog" class="href" title="Скачать картинку">Собачки</a></li>
        <li><a href="/animal/fox" id="fox" class="href" title="Скачать картинку">Лисички</a></li>
        <li><a href="/history" id="history" class="href">История запросов</a></li>
        <li><a href="/history/static" id="watch" class="href">Просмотреть загруженные</a></li>
    </ul>
</body>
</html>